.vertical-slider {
  appearance: slider-vertical;
  -moz-appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
}

@supports (-moz-appearance:none) {
  .track-volume {
    right: 50px;
    opacity: 0.9;
  }
  .rain-volume {
    right: 90px;
    opacity: 0.9;
  }
}